<!--The content below is only a placeholder and can be replaced.-->

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Latest</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Popular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Recently closed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/userRegister">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/showusers">ShowUsers</a>
    </li>
  </ul>


<router-outlet></router-outlet>
